<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/pagination.js" defer></script>
</head>
<body>
    <a th:each="recipe : ${recipes}" th:href="@{/recipe/{id}(id = ${recipe.id})}">
        <img th:src="|/file/${recipe.thumbnail.storedFileName}|" width="300" height="300">
        <h2 th:text="${recipe.title}"></h2>
        <p th:text="${recipe.instruction}"></p>
    </a>

    <div id="pagination" th:data-total-pages="${totalPages}" th:data-current-page="${currentPage}"></div>
</body>
</html>