<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script src="/js/addForm.js"></script>
</head>
<body>
<form action="" method="post" th:object="${recipeAddForm}" enctype="multipart/form-data">
    요리명 <input type="text" th:field="*{title}">
    <p class="field-error" th:errors="*{title}"></p>
    요리 소개 <input type="text" th:field="*{instruction}">
    <p class="field-error" th:errors="*{instruction}"></p>
    요리 이미지 <input type="file" th:field="*{thumbnail}" onchange="readURL(this, 'preview')">
    <p class="field-error" th:errors="*{thumbnail}"></p>
    <img id="preview" width="400" height="300"/>

    <div id="ingredient">
        재료정보
        <div class="field-error" th:errors="*{ingredientNames}"></div>
        <div class="field-error" th:errors="*{quantities}"></div>
        <div class="field-error" th:errors="*{units}"></div>
        <li>
            <input type="text" th:field="*{ingredientNames}" placeholder="(재료명)">
            <input type="number" th:field="*{quantities}" placeholder="(수량)">
            <input type="text" th:field="*{units}" placeholder="(단위)">
            <button type="button" onclick="deleteForm(this, 'ingredient')">X</button>
        </li>
    </div>
    <button type="button" onclick="addIngredient('ingredient')">재료추가</button>

    <div id="cooking_step">
        조리과정
        <div class="field-error" th:errors="*{stepInstructions}"></div>
        <div class="field-error" th:errors="*{stepThumbnails}"></div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <li>
            <input type="text" th:field="*{stepInstructions}" placeholder="(조리법)">
            <input type="file" th:field="*{stepThumbnails}" onchange="readURL(this, 'step')">
            <img id="step" width="250" height="150"/>
            <button type="button" onclick="deleteForm(this, 'cooking_step')">X</button>
        </li>

    </div>
    <button type="button" onclick="addRecipeStep('cooking_step')">과정 추가</button>
    <input type="submit" value="레시피 등록">
</form>
</body>
</html>
<!--동적추가 자바스크립트 정비, List 에러 반복문으로 필드별 확인-->