<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${recipe.title}"></h1>
    <p th:text="${recipe.instruction}"></p>
    <div th:if="${isWriter}" >
        <a th:href="@{/recipe/delete/{id}(id = ${recipe.id})}">레시피 삭제하기</a>
    </div>
    <p th:text="${#temporals.format(recipe.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
    <img th:src="|/file/${recipe.thumbnail.storedFileName}|">


    <div th:each="recipeIngredient : ${recipe.recipeIngredients}">
        <p>
            <span th:text="${recipeIngredient.ingredient.name}"></span>
            <span th:text="|${recipeIngredient.quantity} ${recipeIngredient.unit}|"></span>
        </p>
    </div>

    <div th:each="recipeStep : ${recipe.recipeSteps}">
        <img th:src="|/file/step/${recipeStep.thumbnail.storedFileName}|">
        <p th:text="|${recipeStep.stepNumber} ${recipeStep.instruction}|"></p>
    </div>
</body>
</html>